.openh1{
    box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
    border-radius: 25px;
    display: inline-flex !important;
    width: 100%;
   }   
 
 .mlauto{
  margin-left: auto !important;
 }
  
   .dashboardcards{
    box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
    border-radius: 25px;
    margin: 40px 15px;
    padding: 40px 20px;
   }
  
   @media
  (max-width: 992px)
  {
  .dashboardcards{
    width: 80%;
    margin-left: 0 !important;
    margin-right: 0 !important;
   }
  }